.users {
    height: 70px;
    a {
        display: flex;
        align-items: flex-end;
        margin-top: 10px;
        i {
            font-size: 2rem;
        }
    }
}

.loader-container {
    position: fixed;
    width: 100%;
    z-index: 99;
}