<table class="table mt-3">
    <thead>
        <tr>
            <th scope="col">Employee Id</th>
            <th scope="col">name</th>
            <th scope="col">age</th>
            <th scope="col">salary</th>
            <th scope="col">email</th>
            <th scope="col">password</th>
            <th scope="col">action</th>

        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let employee of EmployeeData | paginate: {itemsPerPage:itemPerPages,currentPage:page}" [@clear_user]>
            <td>
                <p>{{employee.id}}</p>
            </td>
            <td>
                <p>{{employee.name}}</p>
            </td>
            <td>
                <p>{{employee.age}}</p>
            </td>
            <td>
                <p>{{employee.salary | number: '1.0'}} GEL</p>
            </td>
            <td>
                <p>{{employee.email}}</p>
            </td>
            <td>
                <p>{{employee.password}}</p>
            </td>
            <td>
                <button *ngIf="isActive.email == employee.email && isActive.password == employee.password && isActive.id == employee.id" data-bs-toggle="modal" data-bs-target="#exampleModal" class="edit" (click)="Edit_Employee(employee)"><i class="fas fa-user-edit"></i></button>
                <button *ngIf="isActive.email == employee.email && isActive.password == employee.password && isActive.id == employee.id" (click)=" Delete_Employee(employee)" data-bs-toggle="modal" data-bs-target="#DeleteModal" class="delete mx-3"><i class="fas fa-trash"></i></button>
            </td>
        </tr>
    </tbody>
    <pagination-controls class="pagination ngx-pagination current  fixed-bottom" (pageChange)="page = $event">
    </pagination-controls>
</table>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
          </button>
            </div>
            <div class="modal-body">
                <form [formGroup]="form">
                    <div class="mb-3">
                        <label for="exampleInputName" class="form-label">Employee name</label>
                        <input type="text" class="form-control" id="exampleInputName" aria-describedby="nameHelp" formControlName="name">
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputSalary" class="form-label">Employee Salary</label>
                        <input type="number" class="form-control" id="exampleInputSalary" aria-describedby="SalaryHelp" formControlName="salary">
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputAge" class="form-label">Employee Age</label>
                        <input type="number" class="form-control" id="exampleInputAge" aria-describedby="AgeHelp" formControlName="age">
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputAgeemail" class="form-label">email</label>
                        <input type="text" class="form-control" id="exampleInputemail" aria-describedby="emailHelp" formControlName="email">
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputPassword" class="form-label">password</label>
                        <input type="password" class="form-control" id="exampleInputPassword" aria-describedby="PasswordHelp" formControlName="password">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button id="cancel" type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button (click)="Update_Employees_To_Server()" type="button" class="btn btn-warning" [disabled]="form.invalid">update</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="DeleteModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" [@showArrow]="(showArrow) ? 'in' : 'out'">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
          </button>
            </div>
            <div class="modal-body">
                <form>
                    Are you sure want to remove user ?
                </form>
            </div>
            <div class="modal-footer">
                <button id="dismiss" type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="showArrow = false">Close</button>
                <button (click)="delete()" id="agree" type="button" class="btn btn-danger">Delete</button>
            </div>
        </div>
    </div>
</div>