.pagination ::ng-deep .ngx-pagination .current {
    background: red;
}

form {
    .ng-invalid {
        border: 1px solid red;
        outline: none;
    }
    .ng-valid {
        border: 1px solid green;
        outline: none;
    }
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
    /* Firefox */
    input[type=number] {
        -moz-appearance: textfield;
    }
}

.delete {
    background: initial;
    border: none;
    i {
        font-size: 1.3rem;
        color: red;
    }
}

.edit {
    background: initial;
    border: none;
    i {
        font-size: 1.3rem;
        color: black;
    }
}

tbody {
    tr {
        td {
            &:nth-child(3),
            &:nth-child(4) {
                p {
                    font-family: 'Estonia', cursive;
                    font-weight: 900;
                    color: yellowgreen;
                    font-size: 1.3rem;
                }
            }
        }
    }
}